body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.fadein-enter {
  opacity: 0.01;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadein-leave {
  opacity: 1;
}

.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}